@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --hamburger-gap: 8px;
    --bar-height: 4px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }

  .hero {
    @apply m-auto block min-h-screen max-w-screen-2xl items-center bg-[url('/assets/home-page/hero.jpg')] bg-fixed;
  }

  /* REUSABLE STYLES */

  .img-contain {
    @apply h-full w-full object-contain;
  }

  .dark-scrollbar {
    @apply scrollbar scrollbar-track-[#00c8ff2e] scrollbar-thumb-slate-700;
  }

  .dark-button {
    @apply rounded-3xl bg-[#101720] ring-4 ring-[#17ADA7];
  }

  /* Hamburger menu component */

  .hamburger-menu {
    @apply relative -top-12 left-9 flex max-w-max cursor-pointer flex-col;
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    gap: var(--hamburger-gap);
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    @apply block  w-10 transform  rounded-full bg-[#17ADA7] duration-300 ease-in-out;
    content: '';
    transform-origin: left center;
    height: var(--bar-height);
  }

  .hamburger-menu input {
    @apply pointer-events-none m-0 appearance-none p-0 outline-none;
  }

  .hamburger-menu:has(input:checked)::before {
    @apply rotate-45;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }

  .hamburger-menu:has(input:checked)::after {
    @apply -rotate-45;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }

  .hamburger-menu input:checked {
    @apply m-0 opacity-0;
  }

  .hamburger-menu:has(input:checked) + .nav-index {
    display: flex;
    translate: 0;
  }

  /* NAVIGATION BAR SECTION  */

  .nav-index {
    @apply mt-2 hidden w-full flex-col items-center bg-[#101720] bg-opacity-70 md:flex md:flex-row md:justify-between md:gap-5;
    transition: translate var(--animation-timing);
    translate: -100%;
  }

  .nav-button {
    @apply mx-2 my-3 w-10/12 rounded-lg bg-black bg-opacity-50 p-2 text-center ring ring-sky-400 ring-opacity-50 transition-all;
  }

  .nav-button:hover {
    @apply scale-105 ring-opacity-100;
  }

  /* Highlight counter section */

  .highlight-container {
    @apply relative hidden h-full w-full max-w-sm  border-4 border-[#0B1215];
  }

  .highlight-img {
    @apply pointer-events-none absolute inset-0 h-full  w-full transition-opacity duration-700;
  }

  .highlight-container:hover .highlight-img {
    @apply opacity-0;
  }

  .highlight-container:first-child {
    @apply block;
  }

  @screen sm {
    .highlight-container:nth-child(2) {
      display: block;
    }
  }

  @screen md {
    .highlight-container:nth-child(3) {
      display: block;
    }
  }

  @screen lg {
    .highlight-container:nth-child(4) {
      display: block;
    }
  }

  /* Grid section */
  .game-container .game-container-cover {
    @apply pointer-events-none absolute inset-0 h-full w-full transition-opacity duration-500;
  }

  .game-container:hover .game-container-cover {
    @apply opacity-0;
  }

  .game-container-stats {
    @apply relative -bottom-20 w-full  flex-col justify-center text-center opacity-0 transition-all duration-700 sm:-bottom-20 md:-bottom-14 lg:-bottom-12;
    transform: translateY(100%);
  }

  .game-container.group:hover .game-container-stats {
    @apply opacity-100;
    transform: translateY(0);
  }
  .game-container-dark-style {
    @apply mx-2 my-3 rounded-lg bg-black bg-opacity-50 p-2 text-white ring ring-sky-400 ring-opacity-50;
  }

  #game-items-container {
    @apply dark-button dark-scrollbar fixed bottom-10 left-12 hidden max-h-96 flex-col gap-5 overflow-x-scroll;
  }

  #game-items-container:hover {
    @apply flex;
  }

  #cart-button:hover + #game-items-container {
    @apply flex;
  }

  .game-container:hover .image-container img {
    opacity: 0;
  }
}
